@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi-Variable';
  src:
    url('/src/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('/src/assets/fonts/Satoshi-Variable.woff') format('woff'),
    url('/src/assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@layer base {
  h1 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h2 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  dt {
    @apply mb-1 text-xs text-grey-500 md:text-sm;
  }

  p {
    @apply max-w-[600px] text-sm text-grey-600 md:text-base;
  }

  dd {
    @apply max-w-[700px] text-base text-grey-800 md:text-lg;
  }
  ::placeholder {
    @apply text-sm;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-fadeIn {
    animation: none;
  }

  .animate-spinner {
    animation: none;
  }

  .animate-blink {
    animation: none;
  }
}

html {
  scroll-behavior: smooth;
}
